// DESIGN ELEMENTS (FONTS, COLORS, BUTTONS, ETC)
@import 'bourbon/bourbon';
@import 'mixins';

// COLORS
$white:  #fff;
$offwhite: #f0efee;
$black:  #231f20;
$yellow: #d4c328;
$ltblue: #c5dfe4;
$aqua:   #60b0bb;
$dkblue: #015570;
$green:  #427a7c;
$peach:  #f69970;
$ltgray: #e8f0ec;
$dkgray: #464547;
$red:    red;

.peach-bg    { background-color: $peach; color: $white; }
.ltgray-bg     { background-color: $ltgray; }
.ltblue-bg     { background-color: $ltblue; }
.white-bg	    { background-color: $white; }
.dark-bg		{ background-color: rgba($black,.95); }

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,500;0,700;1,500;1,700&display=swap');

$serif:      'Vollkorn', serif;
$sans-serif: 'Roboto', sans-serif;
$condensed:  'Roboto Condensed', sans-serif;
$base-font-size:   15px;
$line-height:      1.45em;
$heading-scale:    4;

.yellow-txt { color: $yellow; }
.blue-txt   { color: $ltblue; font-weight: 600; }
.dkblue-txt { color: $dkblue; }

.green-bg { background: $green; color: $white; }
.dkgray-bg { background: $dkgray; color: $white; }
.blue-bg   { background: $dkblue; color: $white; }
.offwhite-bg { background: rgba($offwhite,.5); }

@include headings($base-font-size, $heading-scale);
@for $i from 1 through 6 {
  h#{$i} {
    font-family: $serif;
    font-weight: 700;
  }
}

img.aligncenter, .aligncenter { margin: 10px auto; }



// BUTTONS
.btn { text-transform: uppercase; border-radius: 0; padding: 8px 25px; cursor: pointer;
  &.ltblue-btn { background: $aqua; color: $white !important; border: none; }
  &.green-btn  { background: $green; color: $white; }
  &.blue-btn   { background: $dkblue; color: $white; }

	.fal { padding-left: 16px; }
}

.outline-btn { background: rgba($black,.2); border: 1px solid $white; border-radius: 0; color: $white; pointer: cursor; text-decoration: none;
  text-transform: none; padding: 10px 45px; font-weight: 500; letter-spacing: 1px;
  .arrow-icon { margin-left: 8px; position: relative; top: -1px; transition: transform 0.3s ease; vertical-align: middle; }
  &:hover { color: $white;
    .arrow-icon { transform: translate3d(10px, 0, 0);}
  }
}

.link { color: $dkgray; cursor: pointer; text-decoration: none; font-size: 15px;
	&.link--arrowed { display: inline-block; height: 2rem; line-height: 2rem;
    		.arrow-icon { position: relative; top: -1px; transition: transform 0.3s ease; vertical-align: middle;
      		g { stroke: $dkgray; }
     		.arrow-icon--circle { transition: stroke-dashoffset .3s ease; stroke-dasharray: 95; stroke-dashoffset: 95; stroke: $dkgray; }
    		}
		&:hover { color: $dkgray;
			.arrow-icon { transform: translate3d(5px, 0, 0);
				.arrow-icon--circle { stroke-dashoffset: 0; }
			}
		}
	}

  &.flip--arrowed {
    .arrow-icon { transform: rotate(180deg); }
    &:hover {
      .arrow-icon { transform: rotate(180deg); }
    }
  }
}
.top-btn { color: $dkgray; text-align: center; background: none; border: none; position: fixed; right: 20px; bottom: 60px; opacity: 0; transition: opacity 666ms ease; z-index: 5;
	&.is-visible { opacity: 1; }
	&:focus { outline: none; }
	&.link--arrowed { display: inline-block; height: 2rem; line-height: 2rem;
		.arrow-icon { transform: rotate(-90deg); margin: 0 auto; display: inline-block;
			g { stroke: $dkgray; fill: $white; }
			.arrow-icon--circle { transition: stroke-dashoffset .3s ease; stroke-dasharray: 95; stroke-dashoffset: 95; stroke: $dkgray; }
		}
		&:hover { color: $dkgray;
			.arrow-icon { transform: translate3d(0, 0, 0) rotate(-90deg);
				.arrow-icon--circle { stroke-dashoffset: 0; }
			}
		}
	}
}
.continue-btn { font-size: .95em; text-transform: uppercase; color: $aqua !important; cursor: pointer;
	.fal { padding-left: 8px; }
}

.swiper-control-buttons { text-align: center; background: $white; border: .5px solid #dcdcdc; border-radius: 45px; width: 80px; position: absolute; right: 0;
  bottom: 15px; z-index: 1;
  button { border: none; padding: 0; background: transparent;
    &:focus { outline: none !important; }
    .swiper-button-disabled {
      .arrow-icon { opacity: .5; }
    }
    .arrow-icon {
      path { stroke: $dkgray; }
    }
  }
  button.slide-prev {
    svg { transform: rotate(180deg); transform-origin: 50% 50%;}
  }
}


.forum-button-container { position: fixed; left: 10px; bottom: 10px; z-index: 99; width: 350px; height: 250px;
	svg { position: absolute; left: 0; bottom: 0; width: 200px;
		.st0 { fill: transparent; stroke: $white; opacity: .5; stroke-width: 1; transition: all 666ms ease-in-out;
			&.blue-stroke { stroke: $aqua; }
		}
	}

	.forum-btn { position: absolute; left: 30px; top: 50%; transform: translateY(-50%); width: 300px; text-align: center; border: 1px solid $dkgray;
		background: transparent; padding: 0; z-index: 999; font-family: $sans-serif;
		&:focus { outline: none !important; }
		.forum-contents { width: 100%; display: flex; flex-wrap: nowrap; justify-content: center; align-items: stretch;
			.blue-bg { flex-basis: 25%;
				h3 { font-family: $serif; padding: 10px; margin-bottom: 0; font-size: 21px; line-height: 24px; }
			}
			.white-xbg { flex-basis: 70%; background: rgba($white, .6);
				p { font-size: 14px; padding: 5px 10px; margin-bottom: 0; color: $dkgray; font-weight: bold; text-align: left; }
				.start { display: flex; flex-wrap: nowrap; justify-content: center; align-items: center;
					.arrow-icon { width: 25px; position: unset;
						g { stroke: $dkgray; fill: transparent; }
					}
					p { margin-bottom: 0; padding-bottom: 0; }
				}
			}
		}
	}
}


// GENERAL STYLES
html { scroll-behavior: smooth; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-weight: 400; }
a { transition: all 666ms ease-in-out;
  &:hover { text-decoration: none; }
}

/*
Extra small devices (portrait phones, less than 576px)
No media query...Bootstrap default
*/

/*** SMALL DEVICES : Landscape phones, 576px + ***/
@media (min-width: 576px){

}

/*** IPHONE X : Landscape ***/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/*** MEDIUM DEVICES : Tablets, 768px + ***/
@media (min-width: 768px){
  .link { font-size: 15px; }
}

/*** LARGE DEVICES : Desktops, 992px and up ***/
@media (min-width: 992px){
	// .forum-btn { position: fixed; left: 0; top: 72%; transform: translateY(-50%); width: 130px; text-align: center; border: none; background: $white;
  //   padding: 10px 0; box-shadow: 0 0 5px rgba($black,.5); z-index: 999; font-family: $sans-serif;  flex-wrap: wrap; justify-content: center;
  //   .outline-logo { width: 45%; margin-bottom: 12px; }
  //   h1 { text-transform: uppercase; font-size: 16px; line-height: 1.5em; font-weight: 400; font-family: $condensed; margin-bottom: 8px; }
  //   hr { background: $ltblue; width: 80%; }
  //   p  { font-size: 14px; line-height: 1.5em; }
  // }
}

/*** EXTRA LARGE DEVICES : Large Desktops, 1200px + ***/
@media (min-width: 1200px){
  $heading-scale:  6;
  @include headings($base-font-size, $heading-scale);
  @for $i from 1 through 6 {
    h#{$i} {
      font-family: $serif;
      font-weight: 500;
    }
  }
}


/*
:::::::::: CUSTOM MEDIA QUERIES IF NEEDED ::::::::::
*/
